In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
yf.pdr_override()
from pandas_datareader import data as wb
import matplotlib.pyplot as plt
import datetime
from datetime import date, datetime, time, timezone

In [2]:
def get_stock_data(ticker,start,end):
    data = wb.DataReader(ticker, start,end)
    data.insert(0,"Ticker",ticker)
    return data

In [3]:
ticker = 'DIS'
start = datetime(2020,1,1)
end = datetime.today()

In [4]:
df = get_stock_data(ticker=ticker,start=start,end=end)

[*********************100%***********************]  1 of 1 completed

In [5]:
df.head()

,Ticker,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,,
2020-01-02,DIS,145.289993,148.199997,145.100006,148.199997,148.199997,9502100
2020-01-03,DIS,146.399994,147.899994,146.050003,146.500000,146.500000,7320200
2020-01-06,DIS,145.539993,146.029999,144.309998,145.649994,145.649994,8262500
2020-01-07,DIS,145.990005,146.869995,145.419998,145.699997,145.699997,6906500
2020-01-08,DIS,145.490005,146.130005,144.820007,145.399994,145.399994,6984200

In [ ]:
SPY=get_stock_data('SPY',start,end)
IYW=get_stock_data('IYW',start,end)
VT=get_stock_data('VT',start,end)
DBA=get_stock_data('DBA',start,end)
TLT=get_stock_data('TLT',start,end)
PDBC=get_stock_data('PDBC',start,end)
IAU=get_stock_data('IAU',start,end)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [ ]:
SPY=SPY.pivot(index=None,columns="Ticker",values="Close")
IYW=IYW.pivot(index=None,columns="Ticker",values="Close")
VT=VT.pivot(index=None,columns="Ticker",values="Close")
DBA=DBA.pivot(index=None,columns="Ticker",values="Close")
TLT=TLT.pivot(index=None,columns="Ticker",values="Close")
PDBC=PDBC.pivot(index=None,columns="Ticker",values="Close")
IAU=IAU.pivot(index=None,columns="Ticker",values="Close")